<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Homepage</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script type="text/javaScript" src="/sidebar.js" defer></script>
  </head>

  <body>
    <div id="main">
      <div id="topnav" class="topnav">
        <button class="openbtn" onclick="sideBarButton()">☰</button>
        <a href="/" style="float: left; font-weight: bold;"> ConCourse</a>

        <a href=""> <img src="/language.png" alt="Help" />Language (EN)</a>
        <a href="/help"> <img src="/help.png" alt="Help" />Help</a>
        <% if (user.role == "Teacher") { %>
        <a href="/teacherLounge">Teacher Lounge</a>
        <% } %>
      </div>

      <div id="mySidebar" class="sidebar">
        <img src="/moodle.png" />

        <div id="top">
          <a href="/"
            ><img src="/home.png" />
            <p>Home</p>
          </a>
          <a href="/deadlines"
            ><img src="/deadlines.png" />
            <p>Deadlines</p></a
          >
          <hr />
          <a href=""
            ><img src="/courses.png" />
            <p>Courses</p></a
          >

          <a id="subcourses" href="/soen287"
            ><img src="/subcourse.png" />
            <p>SOEN 287</p></a
          >
          <a id="subcourses" href="/soen357"
            ><img src="/subcourse.png" />
            <p>SOEN 357</p></a
          >
        </div>

        <div id="mid">
          <hr />

          <% if (user.role == "Teacher") { %>
          <a href="/announcements"
            ><img src="/notification.png" />
            <p>Manage Announcements</p>
            </a>
          <a href="/manageAssessments"
            ><img src="/assessments.png" />
            <p>Manage Assessments</p></a>
          <a href="/manageStudents"
            ><img src="/participants.png" />
            <p>Manage Participants</p>
            </a>

          <% } else if (user.role == "Student") { %>
          <a href="/announcements"
            ><img src="/notification.png" />
            <p>Announcements</p></a>
          <a href="/myAssessments"
            ><img src="/assessments.png" />
            <p>Assessments</p></a>
          <a href="/participants"
            ><img src="/participants.png" />
            <p>Participants</p></a>
          <% } %>

          <a href="/professor"
            ><img src="/instructor.png" />
            <p>Instructors</p></a
          >
        </div>

        <div id="bottom">
          <a href="/user/<%=user._id%>"
            ><img src="/profile.png" alt="Profile" width="45" height="45" />
            <p><%= user.name %></p>
          </a>
          <a href="/logout"
            ><img src="/logout.png" />
            <p>Log Out</p></a>
        </div>
      </div>

      <div class="messenger">
        <div id="msgButton">
          <img src="/chat.png" />
        </div>
      </div>

      <div class="mainComponent">