<%- include("partials/header"); -%>

<div class="mainColumn">

<h1 style="text-align: center;">Announcements</h1>

<% for (let announcement of announcements) { %>
    <div id="posts">
        <h3><%= announcement.title %></h3>
        <p><%= announcement.content %></p>
    </div>
<% } %>

<% if (user.role == "Teacher") { %>
    <div id="posts">
        <h3>Compose a new announcement</h3>
        <div>
        <form action="/announce" method="post">
              <input type="text" name="subject" value="Subject">
              <br>
              <textarea  name="content" >Announcement</textarea> <br>
            <button type="submit" name="button">Publish</button>
          </form>
        </div>
    </div>
    <% } %>

</div>

<%- include("partials/footer"); -%>